{% extends "base.html" %} {% block content %}
<h1>Itens no estoque</h1>
<a href="{% url 'create_item' %}" class="btn btn-success mb-3">Adicionar</a>
{% if items %}
    <table class="table table-bordered table-striped table-hover w-100">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preco</th>
                <th>Fornecedor</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.vendor_name }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="{% url 'edit_item' item.id %}" class="btn btn-sm btn-primary">Editar</a>
                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ item.id }}">
                         Excluir
                        </button>
                    </div>
                    <div class="modal fade" id="confirmDeleteModal{{ item.id }}" tabindex="-1" aria-labelledby="modalLabel{{ item.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" action="{% url 'delete_item' item.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel{{ item.id }}">Confirmar Exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja excluir o item <strong>{{ item.name }}</strong>?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger">Sim, excluir</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum item cadastrado</p>
{% endif %}
{% endblock %}
